<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Registration</title>
</head>
<body>
<form action="/register" method="post">
    <label for="login">Login:</label><br>
    <input type="text" id="login_reg" name="login"><br>
    <label for="password">Password:</label><br>
    <input type="password" id="password_reg" name="password_reg"><br>
    <label for="birth_date">Birth date:</label><br>
    <input type="date" id="birth_date_reg" name="birth_date_reg"><br>
    <label for="phone">Phone:</label><br>
    <input type="text" id="phone_reg" name="phone_reg"><br>
    <input type="submit" value="Submit">
</form>

</body>
</html>